# Instructions

Your submission will be tested with the code tester. It is important to follow these instructions to ensure your work tests properly.

- Do not change the content of the cells under __SETUP__ and __TESTS__
- Work only in the __YOUR WORK__ area
- Rename the notebook with your group at the end (subsitute XX with your group number).
- Assign the results of each numbered question to the appropriate test variable. For example, the answer of `1.` should be assigned to `test_1`
- Rounding: use the supplied function `hround` to round decimal numbers when instructed. It's important to use this function because there are [multiple ways to round numbers in Python](https://www.knowledgehut.com/blog/programming/python-rounding-numbers) and they may not result in the same value that the tester is testing against.
- Ensure your run the cells under __SETUP__ before you run your work
- Before you submit your work, ensure you clean up your notebook. Your notebook has to run without an error in order to be tested. The easiest way to ensure is to `Kernel->Restart & Run All`
- Answers are provided in along with this notebook in eLC (look a picture named `solution_key`) for your convenience
- You will need to write a program to calculate the answers. Setting the answers to be their correct values without solving them is considered *hardcoding* and will result in zero grade for the assignment as well as a potential academic honesty violation.
- You can also test your submission using [the online code tester](https://notebook-tester.safadi-puzzler.com/)

# SETUP

In [1]:
import pandas as pd
import numpy as np

In [2]:
# DO NOT EDIT OR CHANGE THE CONTENT OF THIS CELL
scenario = 0

In [3]:
def hround(number):
    return round(number, 2 - scenario)

In [4]:
test_1=test_2=test_3=test_4=test_5=test_6=test_7=test_8=test_9=test_10=0.0
test_11=test_12=test_13=test_14=test_15=test_16=test_17=test_18=test_19=test_20=0.0

In this homework, we have data from [NYC Taxi and Limousine Commission](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page)
The data comes in three files about the [Green Taxi](https://en.wikipedia.org/wiki/Boro_taxi) trips in Q2 2020.
The three files are read into three data frame `part1`, `part2`, and `part3`.
A data dictionary is given to you and you can download it [here](https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_green.pdf)

In [5]:
part1 = pd.read_csv('green_tripdata_2020-04.csv.gz', low_memory=False)
part1.head(1)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-04-01 00:44:02,2020-04-01 00:52:23,N,1.0,42,41,1.0,1.68,8.0,0.5,0.5,0.0,0.0,NaN,0.3,9.3,1.0,1.0,0.0

In [6]:
part2 = pd.read_csv('green_tripdata_2020-05.csv.gz', low_memory=False)
part2.head(1)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-05-01 00:27:48,2020-05-01 00:32:47,N,1.0,74,42,1.0,1.5,6.5,0.5,0.5,0.0,0.0,NaN,0.3,7.8,1.0,1.0,0.0

In [7]:
part3 = pd.read_csv('green_tripdata_2020-06.csv.gz', low_memory=False)
part3.head(1)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1.0,2020-06-01 00:22:07,2020-06-01 00:39:03,N,1.0,255,14,1.0,0.0,28.2,0.0,0.5,0.0,0.0,NaN,0.3,29.0,1.0,1.0,0.0


Combine the three data frames in one dataframe `data`. Then answer the following questions:

1. Report the number of rows
2. Report the number of columns
3. Report the data types
4. Sort `data` with `lpep_pickup_datetime` and `lpep_dropoff_datetime` ascending, and then reset the index. Show the first five rows and the two columns `lpep_pickup_datetime` and `lpep_dropoff_datetime`
5. As you notice, some other data is mixed up with 2020 Q2, drop all rows in which the pickup date time is not in April, May, June of 2020 (and reset the index). Report the number of rows in the new dataframe
6. Create a new column `TripDuration` that includes the duration of the trip in seconds (difference between pick up and dropoff times). Report the first five values, return a list
7. Consider the [dictionary pdf file](https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_green.pdf), create a new column `VendorName` by matching `VendorID` with the values in the file (e.g., `Creative Mobile Technologies, LLC` and `VeriFone Inc.`). Null values should remain null. Show the first 10 values in the new column, return as list.
8. Consider the CSV file `taxi_zone_lookup` which is provided to you. The two columns `PULocationID` and `DOLocationID` can be mapped to city zones by looking up the ids in the table. Create two new columns `PUZone` and `DOZone` in the data frame by matching the ids with the column `Zone` in `taxi_zone_lookup`. Ensure the data is sorted by  `lpep_pickup_datetime` and `lpep_dropoff_datetime`. Show the first five rows from the resulting data frame and the four columns of `PULocationID`, `DOLocationID`, `PUZone` and `DOZone`.
9. Did all location ids find matching zones? (True or False).
10. What are the top five popular routs, count the number of trips for each `PUZone` and `DOZone` pair, report the count in a dictionary in which keys are the pairs as tuples, and values are the count of these trips
11. We want to analyze tipping patterns, create a new column `tip_percentage` by dividing `tip_amount` over `total_amount`. What is the average `tip_percentage` overall, round with `hround`.
12. Does `tip_percentage` depend on `VendorName`, report the average percentage for `Creative Mobile Technologies, LLC` and `VeriFone Inc.` in a dictionary, round the values with `hround`.
13. Report in a dictionary the `total_amount`, `tip_amount`, `PUZone`, and `DOZone` of the tip with the highest `tip_amount`.
14. What are the most "tipping" routes, calculate the average `tip_percentage` per round (pair of  `PUZone` and `DOZone`). Report the top five tipping routes in a list of tuples.
15. We want to calculate the number of trips from the three airports (JFK Airport, LaGuardia Airport, Newark Airport). Return the results in a dictionary with keys being the airport in that order.
16. We want to calculate the number of trips to the three airports (JFK Airport, LaGuardia Airport, Newark Airport). Return the results in a dictionary
17. Are there trips between two airports? (True/False)
18. What is the most common airport-airport trip, report PU, DO Zones in a tuple
19. Create a data frame in which rows and columns indices are airport names, and other locations are collapsed under `Other`. The values are the count of trips (as integers). Replace any null value with 0. Any observation about airport trips?
20. How many airport to airport trips are there in total?

In [8]:
# work on the remaining items below, you can add as many cells as needed

In [9]:
data = pd.concat([part1, part2, part3], axis=0, ignore_index=True)

In [10]:
test_1, test_2 = data.shape

In [11]:
test_3 = data.dtypes

In [12]:
data = data.sort_values(['lpep_pickup_datetime', 'lpep_dropoff_datetime']).reset_index(drop=True)
test_4 = data.iloc[:5, 1:3]

In [13]:
data = data[data.lpep_pickup_datetime.str.match(r'2020-0[456]')].reset_index(drop=True)
test_5 = len(data)

In [14]:
data['TripDuration'] = (pd.to_datetime(data.lpep_dropoff_datetime) - pd.to_datetime(data.lpep_pickup_datetime)).apply(lambda td: int(td.total_seconds()))
test_6 = data['TripDuration'].head().to_list()

In [15]:
data['VendorName'] = data['VendorID'].apply(
    lambda x: 'Creative Mobile Technologies, LLC' if x==1.0 else 'VeriFone Inc.' if x==2.0 else x
    )
test_7 = data['VendorName'].head(10).to_list()

In [16]:
zone_ids = pd.read_csv('taxi_zone_lookup.csv')[['LocationID', 'Zone']]
zone_ids.head()

   LocationID                     Zone
0           1           Newark Airport
1           2              Jamaica Bay
2           3  Allerton/Pelham Gardens
3           4            Alphabet City
4           5            Arden Heights

In [17]:
data2 = pd.merge(
        pd.merge(data, zone_ids.rename({'Zone':'PUZone'}, axis=1) , left_on='PULocationID', right_on='LocationID', how='inner'),
        zone_ids.rename({'Zone':'DOZone'}, axis=1) , left_on='DOLocationID', right_on='LocationID', how='inner'
).drop(['LocationID_x', 'LocationID_y'], axis=1).sort_values(['lpep_pickup_datetime', 'lpep_dropoff_datetime'])
test_8 = data2[['PULocationID', 'DOLocationID', 'PUZone', 'DOZone']].head()

In [18]:
test_9 = len(data) == len(data2)

In [19]:
test_10 = data2.groupby(['PUZone', 'DOZone']).PULocationID.count().sort_values(ascending=False).head(5).to_dict()

In [20]:
data2['tip_percentage'] = data2['tip_amount'] / data2['total_amount']
test_11 = hround(data2['tip_percentage'].mean())

In [21]:
test_12 = data2.groupby('VendorName').tip_percentage.mean().apply(hround).to_dict()

In [22]:
test_13 = data2.sort_values('tip_amount', ascending=False)[['total_amount', 'tip_amount', 'PUZone', 'DOZone']].iloc[0].to_dict()

In [23]:
test_14 = data2.groupby(['PUZone', 'DOZone']).tip_percentage.mean().sort_values(ascending=False).head().index.to_list()

In [24]:
airports = ['JFK Airport', 'LaGuardia Airport', 'Newark Airport']
test_15 = data2.groupby('PUZone')['lpep_pickup_datetime'].count().loc[airports].to_dict()
test_16 = data2.groupby('DOZone')['lpep_pickup_datetime'].count().loc[airports].to_dict()

In [25]:
airport_trips = data2[data2.PUZone.apply(lambda x: x in airports) & data2.DOZone.apply(lambda x: x in airports)]
test_17 = len(airport_trips) > 0

In [26]:
airport_trip_count = airport_trips.groupby(['PUZone', 'DOZone']).VendorID.count().sort_values(ascending=False)
test_18 = airport_trip_count.index[0]

In [27]:
data2.groupby('PUZone')['lpep_pickup_datetime'].count().loc[airports]

PUZone
JFK Airport           5
LaGuardia Airport    11
Newark Airport        2
Name: lpep_pickup_datetime, dtype: int64

In [28]:
npuzone = data2.PUZone.apply(lambda x: x if x in airports else 'Other')
ndozone = data2.DOZone.apply(lambda x: x if x in airports else 'Other')

In [29]:
newgroup = data2.groupby([npuzone, ndozone])['lpep_pickup_datetime'].count()

In [30]:
test_19 = newgroup.unstack().fillna(0)

In [31]:
idx = pd.IndexSlice

In [32]:
test_20 = newgroup.loc[idx[airports, airports]].sum()

# TESTS

In [33]:
### TEST 1
test_1

156081

In [34]:
## TEST 2
test_2

20

In [35]:
## TEST 3
test_3

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [36]:
## TEST 4
test_4

  lpep_pickup_datetime lpep_dropoff_datetime
0  2008-12-31 22:06:48   2009-01-01 09:44:26
1  2009-01-01 00:03:41   2009-01-01 12:58:31
2  2009-01-01 12:04:14   2009-01-01 12:19:08
3  2020-02-16 11:30:25   2020-02-16 11:45:35
4  2020-02-16 11:58:59   2020-02-16 12:05:40

In [37]:
## TEST 5
test_5

156073

In [38]:
## TEST 6
test_6

[950, 537, 1149, 360, 407]

In [39]:
## TEST 7
test_7

['VeriFone Inc.',
 'VeriFone Inc.',
 'VeriFone Inc.',
 nan,
 'VeriFone Inc.',
 'VeriFone Inc.',
 'Creative Mobile Technologies, LLC',
 'VeriFone Inc.',
 'VeriFone Inc.',
 'Creative Mobile Technologies, LLC']

In [40]:
## TEST 8
test_8

       PULocationID  DOLocationID                    PUZone          DOZone
0                75           169         East Harlem South      Mount Hope
88331           244           127  Washington Heights South          Inwood
81213            82           264                  Elmhurst              NV
11830            42            41      Central Harlem North  Central Harlem
59711            41           152            Central Harlem  Manhattanville

In [41]:
## TEST 9
test_9

True

In [42]:
## TEST 10
test_10

{('East Harlem North', 'East Harlem South'): 2535,
 ('East Harlem South', 'East Harlem North'): 2423,
 ('Central Harlem North', 'Central Harlem North'): 1882,
 ('East Harlem North', 'East Harlem North'): 1819,
 ('Central Harlem', 'Central Harlem North'): 1732}

In [43]:
## TEST 11
test_11

0.07

In [44]:
## TEST 12
test_12

{'Creative Mobile Technologies, LLC': 0.05, 'VeriFone Inc.': 0.06}

In [45]:
## TEST 13
test_13

{'total_amount': 498.8,
 'tip_amount': 480.0,
 'PUZone': 'Richmond Hill',
 'DOZone': 'Middle Village'}

In [46]:
## TEST 14
test_14

[('Jackson Heights', 'Boerum Hill'),
 ('Forest Hills', 'Marine Park/Floyd Bennett Field'),
 ('Bensonhurst West', 'Flatlands'),
 ('Bushwick North', 'NV'),
 ('Sunnyside', 'NV')]

In [47]:
## TEST 15
test_15

{'JFK Airport': 5, 'LaGuardia Airport': 11, 'Newark Airport': 2}

In [48]:
## TEST 16
test_16

{'JFK Airport': 236, 'LaGuardia Airport': 297, 'Newark Airport': 12}

In [49]:
## TEST 17
test_17

True

In [50]:
## TEST 18
test_18

('LaGuardia Airport', 'LaGuardia Airport')

In [51]:
## TEST 19
test_19

DOZone             JFK Airport  LaGuardia Airport  Newark Airport     Other
PUZone
JFK Airport                4.0                0.0             0.0       1.0
LaGuardia Airport          0.0                6.0             0.0       5.0
Newark Airport             0.0                0.0             1.0       1.0
Other                    232.0              291.0            11.0  155521.0

In [52]:
## TEST 20
test_20

11